textarea {
        width: 300px;
        height: 100px;
        padding: 10px;
        }

.ticket-form {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 250px;
            }